.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #F1F1F3;
}
header,main{
    max-width: 1280px;
    margin: 0 auto;
}
/* header style */

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 24px ;

}
.nav-font{
    font-size: 32px;
    font-weight: bold;
}
.nav-btn{
    border-color: #006A50;
    height: 52px;
    width: 116px;
    color: #006A50;
    background-color: #F1F1F3;
    font-size: 18px;
    font-weight: bold;   
    border-radius: 8px;
    cursor: pointer;
}
.nav-btn:hover{
    background-color: #a3d899;
    transition: 0.3s;
}
header nav{
    display: flex;
    align-items: center;
}
.idea{
    display: flex;
    justify-content: space-evenly;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-top: 20px;
}
header section{
    display: flex;
    align-items: center;
}

.title{
    font-size: 24px;
    font-weight: 350;
    color: rgba(14, 14, 14, 50%);
    margin-bottom: 16px;
}
.sub-title{
    margin-top: 16px;
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.btn{
    background-color: #a3d899;
    padding: 17px 34px;
    color: #006A50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Fira Sans";
    font-size: 18px;
}

.btn:hover{
    background-color: #006A50;
    color: white;
    transition: 0.4s;
    font-size: 20px;
}


.text-left{
    margin: 117px 64px 117px 60px;
}

.pic-right{
    height: 400px;
    width: 474px;
    margin-right: 100px;
}

/* main section */

/* pillar */

.pillar-des{
    margin: 80px 0px;
}
.heading{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;

}
.pillars{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 24px;
    margin-top: 32px;
}
.pillar{
    background-color: white;
    padding: 24px;
    border-radius: 16px;
}
.text{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 80%);

}
.sub-text{
    color: rgba(14, 14, 14, 70%);
    font-size: 17px;
}

/* vision */

.vision{
    background-color: white;
    padding: 32px;
    border-radius: 16px;

}
.vc1{
    background-color: rgba(84, 144, 245, 20%)
}
.vc2{
    background-color: #C6E4D6;
}
.vc3{
    background-color: #F7EBCF;
}


.visions{
    display: flex;
    gap: 24px;
    margin-top: 32px;
    
}

.text-box{
    padding: 24px 0px;
 
}

.vision-des{
    margin-bottom: 80px;
}
.btn1{
    background-color: #5490F5;
    padding: 17px 34px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Fira Sans"
}

.btn1:hover{
    background-color: #2d72e9;
}

.btn2:hover{
    background-color: #006A50;
}

.btn3:hover{
    background-color: #e3a410;
}
.btn2{
    background-color: #09A15C;
    padding: 17px 34px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Fira Sans"
}
.btn3{
    background-color: #FFC239;
    padding: 17px 34px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Fira Sans"
}

.vheading{   
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 32px;   
}
.dr{
    padding: 48px 24px;
    margin-top: 32px;
    background-color: white;
    border-radius: 16px;
    background-image: url("/assets/quote-bg.png");
    background-position: 25px 24px;
    background-repeat: no-repeat;   
}
.name{
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 20px;
}
.name1{
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 20px;
    margin-right: 50px;
}
.position{
    margin-top: 4px;
    margin-bottom: 0px;
    color: rgba(14, 14, 14, 60%);
}

/* table */

.full-table{
    margin: 32px;
}

.first-row{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 15%);
    padding: 24px;
    background-color: #C6E4D6;
    border-bottom: none;
}

.opinion{
    display: flex;
    align-items: end;
}

table{
    width: 100%;
    height: 92px;
    border-collapse: collapse;
    padding: 24px;
}
td{
    border: 1px solid rgba(14, 14, 14, 15%);
    padding: 24px;
}

.your-opinion{
    background-color: white;
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 80px;
}

tbody tr td{
    font-weight: 500;
}

.op{
    padding-left: 70px;
}
#opinion{
    padding: 24px;
    background-color: #C6E4D6;
    font-weight: bold;
    font-size: 17px;
    border-radius: 4px;
}

.inside{
    background-color: white;
    padding: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    margin: 24px 0px;
}
.satelite{
    border-radius: 24px;
}
.text-part>h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}
.alj{
    margin-bottom: 12px;
}
.date-time{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 70%);
}
.not{
    color: rgba(14, 14, 14, 70%);
    margin-bottom: 32px;
}
.part-4{
    margin: 80px 0;
}
.bd>h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.bd>p{
    margin: 0;
}
.taka-box{
    display: flex;
    gap: 24px;
    margin: 32px 104.5px;
}
.bd{
    text-align: center;
}
.taka{
    padding: 40px;
    background-color: white;
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
}
.taka:hover{
    background-color: #C6E4D6;
    transition: 0.5s;
}
.amount-box{
    display: flex; 
    justify-content: center;
    margin: 32px 124px;   
}
.amount{
    padding: 20px 422.5px;
    text-align: center;
    border: none;
    color: rgba(14, 14, 14, 30%);
}
.amount::placeholder{
    color: rgba(14, 14, 14, 30%);
}
.done{
    display: flex;
    justify-content: center;  
}

.part-5{
    margin: 80px 0;
    display: flex;
    justify-content: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    text-align: center
}
.inside-p5{
    margin: 0 265px;
}
.p5h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.p5p{
    text-align: center;    
}
.p5in{
    margin: 24px 0;
    padding-left: 40px;
    border: none;
    width: 600px;
    height: 55px;
    margin-right: 0px;
}
.p5btn{
    margin-left: -5px;
    border-radius: 0 8px 8px 0;
    padding: 17px 34px;
}

/* footer */
footer{
    margin-top: 80px;
    text-align: center;
    background-color: white;
    padding: 50px 160px;
}
.ftext{
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: bold;
}
hr{
    border-color: rgba(14, 14, 14, 10%);
    margin-bottom: 32px;
}
.fimg{
    display: flex;
    justify-content: center;
    gap: 23px;
}